
.menu{
    margin: 50px;
    padding: 50px;
}

.menu ul{
    list-style-type: none;
    background-color: rgb(234, 234, 234);
    overflow: hidden;
}

.menu li a{
    display: block;
    color: rgb(3, 1, 82);
    padding-right: 14 px;
    padding-left: 16 px;
    padding-bottom: 16 px;
    text-decoration: none;
    text-align: center;
}

.menu li a:hover{
    background-color: gray;
}

-------
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Press+Start+2P&family=Roboto+Mono&display=swap');

@font-face{
    src: url("../media/fonts/PressStart2P-Regular.ttf")
    font-family: press2start;
}

@font-face{
    src: url("../media/fonts/RobotoMono-VariableFont_wght.ttf")
    font-family: roboto;
}

@font-face{
    src: url("../media/fonts/DMSerifDisplay-Regular.ttf")
    font-family: DMSerifDisplay;
}

.banner{
    width: 1000px;
    margin-left: 200px;
    margin-right: 250px;
    margin-top: 50px;
}

body{
    background-color: rgb(170, 165, 208);
}

title{
    color: rgb(15, 27, 68);
}

h1{
    font-family: 'dmserif', system-ui;
    color: rgb(15, 27, 68);
    font-size: 75px;
}

h2{
    font-family: 'dmserift', system-ui;
    color: rgb(15, 27, 68);
    font-size: 100px;
}

h3{
    font-family: 'press2start', system-ui;
    color: rgb(15, 27, 68);;
}

text{
    font-family: 'roboto', system-ui;
    color: rgb(15, 27, 68);
}

img{
    border: 5px solid #0c9119;
  }

  td, th{
    border: 1px solid #1f0f59;
    text-align: left;
    padding: 8px;
    color: rgb(24, 7, 121);
  }

  p{
    font-family: 'roboto', system-ui;
    color: rgb(24, 7, 121);
}

audio{
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 20px;
}

ol{
    color: rgb(24, 7, 121);
}
