
*{
    margin: 0;
    padding: 0;
}

.menu ul{
    list-style-type: none;
    background-color: rgb(234, 234, 234);
    width: 200px;
}

.menu li a{
    display: block;
    width: 60px;
    color: rgb(3, 1, 82);
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    text-align: center;
}

.menu li a:hover{
    background-color: brown
    color: white;
}

-------

@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gluten:slnt@-13&display=swap');

@font-face{
    src: url("../media/fonts/RubikBubbles-Regular.ttf")
    font-family: rubik bubbles;
}

@font-face{
    src: url("../media/fonts/Gluten-VariableFont_slnt\,wght.ttf")
    font-family: gluten;
}

.banner{
    width: 1000px;
    margin-left: 200px;
    margin-right: 250px;
    margin-top: 50px;
}

body{
    background-color: lightpink;
}

title{
    color: maroon;
}

h1{
    font-family: 'gluten', system-ui;
    color: maroon;
    font-size: 75px;
}

h2{
    font-family: 'rubik bubbles', system-ui;
    color: maroon;
    font-size: 100px;
}

h3{
    color: maroon;
}

text{
    color: maroon;
}

img{
    border: 5px solid #0c9119;
  }

  td, th{
    border: 1px solid #08692b;
    text-align: left;
    padding: 8px;
    color: rgb(24, 7, 121);
  }

  p{
    color: rgb(24, 7, 121);
}

audio{
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 20px;
}

ol{
    color: rgb(24, 7, 121);
}
